<!-- Mis en page Alt + Maj + F ou Crtl + K +F-->
<h1 class="center">List de Pokémons</h1>

<div class="container">
    <div class="row">
        <!--  if 4 4 4 = 12 unités, else s(small) 6 6 = 12 -->
        <div *ngFor="let pokemon of pokemonList" class="col m4 s6">
            <div class="card horizontal" (click)="selectPokemon('pokemon')" pokemonBorderCard="blue">
                <div class="card-image">
                    <img [src]="pokemon.picture" alt="pokemon photo">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>{{pokemon.name}}</p>
                        <p><small>{{pokemon.created}}</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>